[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "basicspace"]
	path = basicspace
	url = https://github.com/cran/basicspace
[submodule "emIRT"]
	path = emIRT
	url = https://github.com/cran/emIRT
